caches/
backups/
link/.ssh/authorized_keys
link/.ssh/id_*
link/.ssh/known_hosts
link/.vim/plugged
link/.vim/.netrwhist
link/.config/*
!link/.config/fish
link/.config/fish/*
!link/.config/fish/fishfile
!link/.config/fish/config.fish
!link/.config/lazygit
link/.config/lazygit/state.yml
*LOCAL*
.DS_Store
