[user]
	name = ejoubaud
	email = emmanuel.joubaud@gmail.com
[http]
	proxy = 
[credential]
	helper = osxkeychain
[core]
  excludesfile = ~/.gitignore_global
	pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
